<section>
  <h1 mat-dialog-title>Koliko ste zadovoljni voznjom?</h1>
  <mat-dialog-content>
    Vasa Ocena:<mat-icon matSuffix>star_border</mat-icon>
    <mat-icon matSuffix>star_border</mat-icon>
    <mat-icon matSuffix>star_border</mat-icon>
    <mat-icon matSuffix>star_border</mat-icon>
    <mat-icon matSuffix>star_border</mat-icon>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="center">
    <button mat-button color="primary" [mat-dialog-close]="true">Zatvori</button>
  </mat-dialog-actions>
</section>