<section>
  <h1>Registrujte se</h1>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
    #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="name" matInput placeholder="Vase ime" ngModel name="name" required #nameInput="ngModel">
      <mat-error *ngIf="nameInput.hasError('required')">Polje ne sme biti prazno</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="surname" matInput placeholder="Vase prezime" ngModel name="surname" required #surnameInput="ngModel">
      <mat-error *ngIf="surnameInput.hasError('required')">Polje ne sme biti prazno</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="Vas email" ngModel name="email" required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Polje ne sme biti prazno</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Molimo vas unesite pravi email</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Molimo vas unesite najmanje 6 karaktera">
      <input type="password" matInput placeholder="Vasa sifra" ngModel name="password" required minlength="6" #passInput="ngModel">
      <mat-hint align="end">{{ passInput.value?.length }} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Vas datum rodjenja" [matDatepicker]="picker" ngModel name="birthDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <span matPrefix>+381 &nbsp;</span>
        <input type="phone" matInput placeholder="Vas broj telefona" ngModel name="phone" required #phoneInput="ngModel">
        <mat-error *ngIf="phoneInput.hasError('required')">Polje ne sme biti prazno</mat-error>
      </mat-form-field>
      <mat-radio-group>
          <mat-radio-button value="putnik" color="primary">Putnik</mat-radio-button>
          <mat-radio-button value="prevoznik" color="primary">Prevoznik</mat-radio-button>
        </mat-radio-group>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Potvrdi</button>
    <mat-checkbox color="primary" ngModel name="acceptance" required>Prihvatam uslove koriscenja</mat-checkbox>
  </form>
</section>