<section fxLayoutAlign="center"> 
<mat-card fxFlex="500px">
  <p>Imate novog putnika u voznji 1<button class="prihvati" mat-button matSuffix mat-icon-button>
      <mat-icon>done</mat-icon>
      </button>

      <button class="odbij" mat-button matSuffix mat-icon-button>
      <mat-icon>close</mat-icon>
      </button></p>
</mat-card>
</section>
<br>
<section fxLayoutAlign="center">
<mat-card fxFlex="500px">
    <p>Prevoznik je pristao da vas vozi<button class="prihvati" mat-button matSuffix mat-icon-button>
            <mat-icon>done</mat-icon>
            </button>
  
        <button class="odbij" mat-button matSuffix mat-icon-button>
        <mat-icon>close</mat-icon>
        </button></p>
  </mat-card>
</section>
