<mat-tab-group>
    <mat-tab label="Kreiraj voznju">
    <app-kreiraj-voznju></app-kreiraj-voznju>
    </mat-tab>
    <mat-tab label="Izmeni voznju">
    <app-izmeni-voznju></app-izmeni-voznju>
    </mat-tab>
    <mat-tab label="Moje voznje">
    <app-moje-voznje></app-moje-voznje>
    </mat-tab>

    <mat-tab label="Trazi voznju">
    <app-trazi-voznju></app-trazi-voznju>
    </mat-tab>
    <mat-tab label="Pogledaj voznju">
    <app-pogledaj-voznju></app-pogledaj-voznju>
    </mat-tab>
    <mat-tab label="Zakazane voznje">
    <app-zakazane-voznje></app-zakazane-voznje>
    </mat-tab>
</mat-tab-group>


   