<section fxLayoutAlign="center">
<mat-card fxFlex="500px" class="voznja">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title fxLayoutAlign="center">Voznja 2</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center">Prevoznik: Marko Markovic</mat-card-subtitle>
    </mat-card-header>
    <iframe fxLayoutAlign="center" mat-card-image src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d22649.90171410542!2d20.442357907537694!3d44.79634389976546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x475a6561a8c27169%3A0x81b82df6278d741a!2s%C5%A0tark+Arena%2C+Bulevar+Arsenija+%C4%8Carnojevica%2C+Belgrade!3m2!1d44.814146099999995!2d20.4212894!4m5!1s0x475a706caa02b55f%3A0x5ca197ebb70c0041!2zQXV0b2tvbWFuZGEg0JDRg9GC0L7QutC-0LzQsNC90LTQsA!3m2!1d44.7902717!2d20.46634!4m5!1s0x475a70675616a667%3A0x31457a4b1766e54a!2sUniverzitet+Singidunum%2C+Danijelova%2C+Belgrade!3m2!1d44.7821473!2d20.4790589!5e0!3m2!1sen!2srs!4v1549291956054" width="400" height="400" frameborder="0" style="border:0"></iframe>
    <mat-card-content fxLayoutAlign="center">
      <p>
        Polaziste: Stark Arena
        <br> 
        Odrediste: Univerzitet Singidunum-Danijelova
        <br>
        Stajalista: Autokomanda
        <br>
        Vreme polaska: 01:20 PM
        <br>
        Putnici: Jovan Maric
        <br>
        Status: Tekuca
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button type="submit" onclick="location.href='/izmeni-voznju';" mat-raised-button color="primary">Izmeni</button>
      <button mat-raised-button type="submit" mat-raised-button color="primary" (click)="onObrisi()">Obrisi</button>
    </mat-card-actions>
  </mat-card>
</section>
<br>
<section fxLayoutAlign="center">
  <mat-card fxFlex="500px" class="voznja">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title fxLayoutAlign="center">Voznja 1</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center">Prevoznik: Marko Markovic</mat-card-subtitle>
    </mat-card-header>
    <iframe fxLayoutAlign="center" mat-card-image src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d22649.90171410542!2d20.442357907537694!3d44.79634389976546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x475a6561a8c27169%3A0x81b82df6278d741a!2s%C5%A0tark+Arena%2C+Bulevar+Arsenija+%C4%8Carnojevica%2C+Belgrade!3m2!1d44.814146099999995!2d20.4212894!4m5!1s0x475a706caa02b55f%3A0x5ca197ebb70c0041!2zQXV0b2tvbWFuZGEg0JDRg9GC0L7QutC-0LzQsNC90LTQsA!3m2!1d44.7902717!2d20.46634!4m5!1s0x475a70675616a667%3A0x31457a4b1766e54a!2sUniverzitet+Singidunum%2C+Danijelova%2C+Belgrade!3m2!1d44.7821473!2d20.4790589!5e0!3m2!1sen!2srs!4v1549291956054" width="400" height="400" frameborder="0" style="border:0"></iframe>
    <mat-card-content fxLayoutAlign="center">
      <p>
        Polaziste: Stark Arena
        <br> 
        Odrediste: Univerzitet Singidunum-Danijelova
        <br>
        Stajalista: Autokomanda
        <br>
        Vreme polaska: 09:45 PM
        <br>
        Putnici: Milica Stevic, Jovan Maric
        <br>
        Status: Zavrsena
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button type="submit" mat-raised-button color="primary" (click)="onOceni()">Oceni voznju</button>
      <button mat-raised-button type="submit" mat-raised-button color="primary" (click)="onKomentar()">Ostavi komentar</button>
    </mat-card-actions>
  </mat-card>
</section>

